.menu{
    background-color: #444343;
    height: 60px;
}
.elements{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    flex-direction: row;
    height: 60px;
}
p{
    color: white;
    margin: 0;
    font-family: "Victor Mono";
    font-size: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
    a{
        all: unset;
        color:white;
    }
    a:hover{
        cursor: pointer;
    }
    li{
        display: inline;
        padding: 16px;
        font-size: 20px;
    } 
}
.active{
    background-color: #262626;
}