<main class="container">
  <div class="notification">
    <span *ngFor="let msg of message">
      <p><i class="fas fa-exclamation"></i> {{ msg }}<br /></p>
    </span>
  </div>
  <section class="create">
    <h3>Actualizar tarjeta</h3>
    <form class="newData" #addForm="ngForm" (ngSubmit)="updateCard(addForm)">
      <div class="form-group">
        <label>Título</label>
        <input
          type="email"
          name="title"
          [(ngModel)]="title"
          ngModel
          class="form-control"
        />
        <small class="form-text text-muted">
          El campo título es obligatorio
        </small>
      </div>
      <div class="form-group">
        <label>Descripción</label>

        <textarea
          type="text"
          name="description"
          ngModel
          [(ngModel)]="description"
          class="form-control"
        ></textarea>
        <small class="form-text text-muted">
          El campo descripción es obligatorio
        </small>
      </div>

      <div class="form-group">
        <label>Categoría</label>

        <input
          type="text"
          name="category"
          [(ngModel)]="category"
          ngModel
          class="form-control"
        />
        <small class="form-text text-muted">
          El campo categoría es obligatorio
        </small>
      </div>

      <div class="form-group">
        <label>Url</label>

        <input
          type="text"
          name="url"
          [(ngModel)]="url"
          ngModel
          class="form-control"
        />
        <small class="form-text text-muted">
          El campo url es obligatorio
        </small>
      </div>

      <div class="buttons">
        <button type="submit" class="btn btn-success">Actualizar</button>
        <button class="btn btn-danger" type="reset">Reset</button>
      </div>
    </form>
  </section>
</main>
