@import '../../../styles.scss';

.create {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newData {
  border: 1px solid #cccccc;
  padding: 20px;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 10px;
    color: white;
    border-radius: 2px;
  }

  .add {
    background-color: $green;
  }

  .reset {
    background-color: $red;
  }
}

.notification {
  position: fixed;
  display: none;
  top: 115px;
  right: 10%;
  z-index: 999;
  height: auto;
  background: black;
  max-width: 600px;
  p {
    margin: 0;
    padding: 15px 35px;
    color: white;
  }
}
