<main class="container">
  <div class="notification">
    <span *ngFor="let msg of message">
      <p><i class="fas fa-exclamation"></i> {{ msg }}<br /></p>
    </span>
  </div>
  <section class="images">
    <div class="card-deck">
      <div class="card" *ngFor="let dat of data">
        <div class="card-img">
          <img
            src="{{ dat.url }}"
            class="card-img-top"
            alt="imagen{{ dat.id }}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ dat.title }}</h5>
          <p class="card-text">
            {{ dat.category }}
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="/detail/{{ dat.id }}"
            ><i class="fas fa-info-circle blue"></i
          ></a>
          <div class="separador"></div>
          <a routerLink="/update/{{dat.id}}"><i class="far fa-edit green"></i></a>
          <div class="separador"></div>
          <a (click)="deleteCard(dat.id)"
            ><i class="far fa-trash-alt red"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
</main>
