<main class="container">
  <section class="images">
    <div class="card-deck">
      <div class="card" *ngFor="let dat of data">
        <div class="card-img">
          <img
            src="{{ dat.url }}"
            class="card-img-top"
            alt="imagen{{ dat.id }}"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ dat.title }}</h5>
          <p class="card-text">
            {{ dat.category }}
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="/detail/{{ dat.id }}"
            ><i class="fas fa-info-circle blue"></i
          ></a>
          <div class="separador"></div>
          <a data-toggle="modal" data-target="#exampleModal" (click)="getId(dat.id, dat)"><i class="far fa-edit green"></i></a>
          <div class="separador"></div>
          <a (click)="deleteCard(dat.id)"
            ><i class="far fa-trash-alt red"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
  <section class="update">
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Actualizar tarjeta
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              class="updateData"
              #updateForm="ngForm"
              (ngSubmit)="updateCard(updateForm)"
            >
              <div class="group-form">
                <label for="">Titulo:</label>
                <input type="text" ngModel [(ngModel)]="title" name="title" />
              </div>
              <div class="group-form">
                <label for="">Descripcion:</label>
                <textarea type="text" ngModel [(ngModel)]="description" name="description"></textarea>
              </div>
              <div class="group-form">
                <label for="">Categoria:</label>
                <input type="text" ngModel [(ngModel)]="category" name="category" />
              </div>
              <div class="group-form">
                <label for="">Url:</label>
                <input type="text" ngModel [(ngModel)]="url"  name="url" />
              </div>
                <div class="buttons">
                  <button type="submit" class="add">Actualizar</button>
                  <button class="reset" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
